<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express CRUD</title>
</head>
<style>
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
  <%- include('./../_header')%>
  <h2>Subject Give Score</h2>
  <hr>
  <table>
    <tr>
      <th>Name</th>
      <th>Subject</th>
    </tr>
    <tr>
      <th><%- student.firstName %></th>
      <th><%- subject.name %></th>
    </tr>
  </table>
  <form action="/subject/<%- subject.id %>/givescore/<%- student.id %>" method="POST">
    <fieldset>
    <legend><h2>Add Score</h2></legend>
    Score:
    <input type="number" name="StudentScore"><br/>
    <input type="submit" value="Submit">
    </fieldset>
  </form>
  <br>
</body>
</html>