<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Subjects Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 style="text-align: center">All Subjects Data</h1>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Subject Name</th>
          <th>Student</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% subjects.forEach(subject => { %>
          <tr>
            <td>
              <%= subject.id %>
            </td>
            <td>
              <%= subject.subject_name %>
            </td>
            <td>
              <ol>
                <% subject.Students.forEach(student => {%>
                  <li><%= student.first_name %> <%= student.last_name %></li>
                    <% }) %>
              </ol>
            </td>
            <td>
              <a href="/subjects/<%= subject.id %>/enrolledstudents">Enrolled Students</a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
  </div>
</body>

</html>