<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enrolled Student</title>
    <style>
        table,th,td,tr{
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1><%= subject.subjectName %></h1>
    <a href="/subjects">return to subject list</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <% subject.Students.forEach(function(listStudent){ %>
            <tr>
                <td><%= `${listStudent.firstName} ${listStudent.lastName}` %></td>
                <td>
                    <% if(listStudent.StudentSubject.score==null){ %>
                    <a href="/subjects/<%= listStudent.id %>/givescore/<%= subject.id %>" >Give Score</a>
                    <% }else{ %>
                    <%= listStudent.StudentSubject.score %>
                    <% } %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>