<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center">
        <h2>ADD SUBJECT TO STUDENT</h2>
    </div>
    <table class="table">
        <tr>
            <td>First Name</td>
            <td><%= student.first_name %></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><%= student.last_name %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= student.email %></td>
        </tr>
    </table>
    <form action="/students/<%= student.id %>/addsubject" method="POST">
        <select name="SubjectId">
                <% subjectData.forEach(function(subject){ %>
                    <option value="<%= subject.id %>"> <%= subject.subject_name %></option>
                <% }) %>
        </select>
        <input type="submit">
    </form>
</body>
</html>