<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add subject to student</title>
</head>
<body>
    <header>
        <h1>Add Subject to Student</h1>
    </header>
    <main>
        <table>
            <tbody>
                <tr>
                    <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                <tr>
                    <td><%= result[0].firstName %></td>
                    <td><%= result[0].lastName %></td>
                    <td><%= result[0].email %></td>
                </tr>
            </tbody>
        </table>
        <form action="/students/<%= result[0].id %>/addsubject" method="post">
            <select name="idSubject">
                <% result[1].forEach(function(listSubject){ %>
                    <option value="<%= listSubject.id %>"><%= listSubject.subjectName %></option>
                <% }) %>
            </select>
            <br>
            <input type="submit" value="Add Subject" />
        </form>
    </main>
</body>
</html>