<%- include ../partial/header.ejs%>

  <div class="container mt-5 col-sm-8">

    <div class="table-responsive-sm">
      <table class="table table-striped">
        <tr>
          <td>First Name</td>
          <td><%= student.first_name %></td>
        </tr>
        <tr>
          <td>last Name</td>
          <td><%= student.last_name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= student.email %></td>
        </tr>
      </table>
    </div>

    <form action="/students/<%= student.id %>/addsubject" method="POST">

      <div class="form-group">
        <label for="subject">Subject :</label>
        <select name="SubjectId" id="subject" class="custom-select">
          <% subjects.forEach(function(subject) {%>
             <option value= '<%= subject.id %>' > <%= subject.subject_name %> </option>
          <% }) %>
        </select>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>

<%- include ../partial/footer.ejs%>
