<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Subject to Student</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Add Subject to Student</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>First Name</td>
            <td>
              <%= student.first_name %>
            </td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>
              <%= student.last_name %>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <%= student.email %>
            </td>
          </tr>
        </tbody>
      </table>
      <form action="/students/<%= student.id %>/addsubject" method="post">
        <div class="form-group">
          <label for="subject_name">Choose Subject</label>
          <select class="form-control" name="subject_name">
            <% subjects.forEach(subject => { %>
              <option value="<%= subject.id %>">
                <%= subject.subject_name %>
              </option>
              <% }) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Subject</button>
      </form>
    </div>
  </div>
</body>

</html>